[defaults]
### Targets the whole directory with all inventory files included
#inventory = inventory/ 

### Targets a inventory file in inventory directory
inventory = inventory/inventory

### Tells ansible to look for specific private key
private_key_file = ~/.ssh/ansible
